<!--DENTRO DE ESTE PRIMER DIV ENTRAREMOS SI SE PRODUCE EL LOGIN CORRECTAMENTE, Y SERÁ DONDE PONGAMOS EL RESTO
DE LA LISTA DE LA COMPRA-->
<!--RECORDAR QUE ESTAMOS EN EL COMPONENTE PRINCIPAL (app.component), PONIENDO LAS ETIQUETAS QUE IDENTIFICAN A LOS OTROS COMPONENTES
LLEGA (SUS "SELECTOR")-->
<div *ngIf="authApp.user | async as user; else login">

  <!--SI ESTAMOS LOGEADOS, SE MUESTRA LA LISTA DE LA COMPRA (LA PRIMERA VEZ ESTARÁ VACÍA)-->
  <!--SI NO ESTÁ VACÍA, TENDREMOS QUE RECUPERAR LA COMPRA PUESTA EN LA BD Y ACTUALIZAR EL ARRAY MOSTRADO EN PRODUCTOS.COMPONENT.HTML-->
  <app-productos></app-productos>


</div>

<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <button class="btn btn-primary" (click)="authApp.login()">Email Login</button>
    <br/><br/>
    <!--AL PULSAR ESTE BOTÓN, NOS LOGEAMOS USANDO EL MÉTODO DE GLOGIN-->
    <!--A LA VEZ, INICIAMOS EL MÉTODO QUE ACCEDERÁ A LA BD Y RELLENARÁ LOS ARRAYS DE PRODUCTOS DE LA MANERA CORRECTA-->
    <button class="btn btn-danger" (click)="authApp.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
    <br><br/>
    <button class="btnGithub" (click)="authApp.gitHubLogin()"><i class="fab fa-github"></i></button>
  </div>
</ng-template>
