<!--USANDO GRID-->
<h1>Productos a Comprar</h1>
<table style="width: 100%; border: 1px solid black; ">
  <tr>
    <th>Estado</th>
    <th>Producto</th>
    <th>Descripción</th>
  </tr>
</table>

<div class="productosGrid">

  <button class="productosItem" *ngFor="let producto of productosA index as i;"
       [class.selected]="producto === selectedProducto"
       (click)="onSelect(producto,i)">
    {{producto.nombre}}
  </button>

</div>

<h1>Productos Comprados: </h1>
<!--DENTRO DE UNA ETIQUETA PODEMOS PONER UNA PROPIEDAD CLASS PARA DEFINIR UNA CLASE,ACCEDEMOS CON ELLA CON .-->
<!--USAR EL INDEX DEL FOR PARA ACCEDER AL PRODUCTO QUE NOS INTERESE-->
<!--CREAR UN ARRAY DE PRODUCTOS SELECCIONADOS, SE PODRÁ LLENAR ESE ARRAY DESDE AQUÍ?-->
<span *ngIf="selectedProducto">
<table style="width: 100%; border: 1px solid black; ">
  <tr class="productosSelec" *ngFor="let productoSelec of productosSelecA index as i;">
    <td [class.selected]="productoSelec === selectedProducto2" (click)="onSelect2(productoSelec,i)">

      <span class="productosSelecBadge"> {{productoSelec.nombre}} </span>

    </td>

  </tr>
</table>
</span>
