<h1>Productos a Comprar</h1>
<table style="width: 15%;">

  <!--MODIFICAMNOS PARA PONER EVENTOS CLICK RELACIONADOS CON LA BD-->
  <tr class="productos" *ngFor="let producto of productosA index as i;">
    <td [class.selected]="producto === selectedProducto"
        (click)="onSelect(producto,i);authApp.updateUserDataComprados(producto)">
      <!--PODEMOS PONER LOS RADIOBUTTONS CON ETIQUETAS EXTERNAS PARA PODER USAR EN ELLOS EL CSS-->
      <!--<input type="radio" name="comprado-{{i}}" value="si" [(ngModel)]="producto.comprado" [value]=true>Comprado
      <input type="radio" name="comprado-{{i}}" value="no" [(ngModel)]="producto.comprado" [value]=false> Comprar-->
      <span class="productosBadge"><b>{{producto.nombre}}</b></span>

    </td>

  </tr>
</table>
<h1>Productos Comprados </h1>
<!--DENTRO DE UNA ETIQUETA PODEMOS PONER UNA PROPIEDAD CLASS PARA DEFINIR UNA CLASE,ACCEDEMOS CON ELLA CON .-->
<!--USAR EL INDEX DEL FOR PARA ACCEDER AL PRODUCTO QUE NOS INTERESE-->
<!--QUITAMOS LA CONDICIÓN DE IF DE AQUÍ ABAJO PARA QUE SE MUESTREN SIEMPRE LOS PRODUCTOS QUE ESTÁN COMPRADOS O NO-->

<table style="width: 15%; ">
  <tr class="productosSelec" *ngFor="let productoSelec of productosSelecA index as i;">
    <td [class.selected]="productoSelec === selectedProducto2"
        (click)="onSelect2(productoSelec,i);authApp.updateUserDataProductosNoC(productoSelec)">

      <span class="productosSelecBadge"><b> {{productoSelec.nombre}} </b></span>

    </td>

  </tr>
</table>

<br/>
<button style="margin-left: 550px;" (click)="authApp.logout()">LOGOUT</button>
