.productos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.productos td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(255, 0, 3, 0.56);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.productos td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.productos td.selected {
  background-color: #CFD8DC;
  color: white;
}
.productos td.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.productos .productosBadge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* LO MISMO PARA LOS SELECCIONADOS */

.productosSelec {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.productosSelec td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(0, 128, 0, 0.58);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.productosSelec td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.productosSelec td.selected {
  background-color: #CFD8DC;
  color: white;
}
.productosSelec td.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.productosSelec .productosSelecBadge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
