.productos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.productos td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(255, 0, 3, 0.56);
  margin: .5em;
  padding: .3em 0;
  padding-left: 10px;
  height: 1.6em;
  border-radius: 40px;
}
.productos td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.productos td.selected {
  background-color: #CFD8DC;
  color: white;
}
.productos td.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.productosBadge{
  font-size: 30px;

}

/* LO MISMO PARA LOS SELECCIONADOS */

.productosSelec {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.productosSelec td {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(0, 128, 0, 0.56);
  margin: .5em;
  padding: .3em 0;
  padding-left: 10px;
  height: 1.6em;
  border-radius: 40px;
}
.productosSelec td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.productosSelec td.selected {
  background-color: #CFD8DC;
  color: white;
}
.productosSelec td.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.productosSelecBadgeBadge{
  font-size: 30px;

}

.productosSelecBadge{

  font-size: 30px;

}
